{% extends 'base.html' %}
{% block title %} Details {% endblock %}
{% load crispy_forms_tags %}
{% block content %}

<div class="text-center display-inline">
    <h2>{{ preset.name }}</h2>
    {{ preset.character }} | {{ preset.character.vision }}
        {% if preset.weapon != None %}
            <p data-toggle="tooltip" data-placement="top" title="{{ preset.weapon.ability }}">{{ preset.weapon }}</p>
        {% endif %}
    <p ><a href="{% url 'update_preset' preset.id %}"><button class="btn btn-info">Update Preset</button></a></p>
</div>

<table class="table">
  <thead>
    <tr class="text-center">
        <th scope="col">Flower</th>
        <th scope="col">Feather</th>
        <th scope="col">Sands</th>
        <th scope="col">Goblet</th>
        <th scope="col">Circlet</th>
    </tr>
  </thead>
  <tbody>
      <tr class="text-center">
        {% for art in artifacts %}
          {% if art.set == None %}
                <th>No stat provided</th>
            {% else %}
            <th>
                <span data-toggle="tooltip" data-placement="top" title="{{ art.set.piece_2 }}">2 Piece</span><br />
                {{ art.set }}<br />
                <span data-toggle="tooltip" data-placement="top" title="{{ art.set.piece_4 }}">4 Piece</span>
            </th>
          {% endif %}
        {% endfor %}
    </tr>
    <tr class="text-center">
        {% for art in artifacts %}
            {% if art.main == None %}
                <td>No stat provided</td>
            {% else %}
                <td>{{ art.main }}</td>
            {% endif %}
        {% endfor %}
    </tr>
    <tr class="text-center">
        {% for art in artifacts %}
            {% if art.first == None %}
                    <td>No stat provided</td>
                {% else %}
                <td>{{ art.first }}</td>
            {% endif %}
        {% endfor %}
    </tr>
    <tr class="text-center">
        {% for art in artifacts %}
            {% if art.second == None %}
                    <td>No stat provided</td>
                {% else %}
                <td>{{ art.second }}</td>
            {% endif %}
        {% endfor %}
    </tr>
    <tr class="text-center">
        {% for art in artifacts %}
            {% if art.third == None %}
                    <td>No stat provided</td>
                {% else %}
                <td>{{ art.third }}</td>
            {% endif %}
        {% endfor %}
    </tr>
    <tr class="text-center">
        {% for art in artifacts %}
            {% if art.fourth == None %}
                    <td>No stat provided</td>
                {% else %}
                <td>{{ art.fourth }}</td>
            {% endif %}
        {% endfor %}
    </tr>
    <tr class="text-center">
        {% for art in artifacts %}
            <th>{{ art.status }}</th>
        {% endfor %}
    </tr>
  </tbody>
</table>
<div class="text-center">
<a href="{% url 'update_art' preset.id %}"><button class="btn btn-info">Add/Edit arts</button></a>
<a href="{% url 'delete_preset' preset.id %}"><button class="btn btn-danger">Delete preset</button></a>
</div>


{% endblock %}