{% extends 'base.html' %}
{% block title %} Details {% endblock %}
{% load crispy_forms_tags %}
{% block content %}

<table class="table">
  <thead>
    <tr class="text-center">
        <th scope="col">Flower</th>
        <th scope="col">Feather</th>
        <th scope="col">Sands</th>
        <th scope="col">Goblet</th>
        <th scope="col">Circlet</th>
    </tr>
  </thead>
  <tbody>
    <tr class="text-center">
        <td><a href="">Edit Art</a></td>
        <td><a href="">Edit Art</a></td>
        <td><a href="">Edit Art</a></td>
        <td><a href="">Edit Art</a></td>
        <td><a href="">Edit Art</a></td>
    </tr>
  <tr class="text-center">

        <td>stat</td>

  </tr>
  </tbody>
</table>

{% endblock %}